/* Общие стили для страницы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

#diceResult {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

#diceImage {
    margin-bottom: 20px;
}

#diceFace {
    width: 200px;  /* Размер изображения кубика */
    height: 200px;
    transition: opacity 0.3s ease-in-out;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

th, td {
    padding: 12px 20px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: 500;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

tbody td {
    color: #555;
}

.side-image {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: auto;
    z-index: 9999;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
    transform: translateY(-50%) scaleX(-1); /* Отзеркалить по горизонтали */
  }
